.conteiner {
    max-width: 1280px;
    min-width: 1200px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.navigation_bar{
    margin-top: 63px;
}

.main_title {
    font-size: 80px;
    line-height: 94px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #4BCAFF;
    font-weight: 400;
    margin-bottom: 40px;
    width: 334px;
}

.main_title_colored {
    color: #000000;
}



.navigation_list {
    display: flex;
    justify-content: center;
    background: #35444F;
    height: 69px;
}

.navigation_list_items{
        display: flex;
}

.navigation_item {
    display: flex;
    color: #ffff;
    font-size: 24px;
    line-height: 28px;
    border-right: 1px solid #ffff;
    font-weight: 400;
    align-items: center;
    padding: 0 25px;
}

.first {
    border-left: 1px solid#ffff;
}

.navigation_item:hover {
    background: #222F3A;
}
 
.main_content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.sidebar_conteiner{
    display: flex;
    flex-direction: column;
    border: 1px solid #495863;
    width: 399px;
    margin-top: 50px;
}

.sidebar_item{
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    align-items: center;
    color: #495863;
    padding: 25px 0px 25px 40px;
}

.sidebar_item:hover{
    background: #DBDBDB;
    color: #000000;
    text-align: center;
    padding: 25px 0 25px 0;
}

.main_block{
    /* display: flex;
    flex-direction: column; */
    max-width: 940px;
}

.image_area{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 885px;
    height: 529px;
    margin: 50px 0 0 50px;
    border: 1px solid black;
}
img{
    width: 320px;
    height: 380px;
}
img:hover{
    width: 400px;
    height: 460px;
}

.text_content{
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin: 35px 0 35px 50px;
}

.text_content_second{font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin: 35px 0 55px 50px;
}

.footer_block{

    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background: rgba(99, 105, 110, 0.48);
    padding: 20px 40px;
    margin-bottom: 30px;
    /* margin: 20px 0 30px 0; */

}

.footer_list{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.footer_items{
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #010101;

}

.footer_date{
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
}

.footer_items:hover{
    text-decoration: underline;
    color: #3181A6;
     
}
